In [69]:
import pickle
import numpy as np
import pandas as pd
import re
import json
from collections import Counter
import seaborn as sns

In [10]:
pd.set_option("display.max_columns", None)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
PATH_TO_CHAIN = '/content/drive/MyDrive/MADE/project/chains.pkl'
PATH_TO_ORDERS = '/content/drive/MyDrive/MADE/project/orders'
PATH_TO_RATING = '/content/drive/MyDrive/MADE/project/rest_ratings.pkl'

# Orders

In [86]:
path_to_files = r'/content/drive/MyDrive/MADE/project/orders'
tables = []
for num in range(1, 3):
    filename = f'{path_to_files}/orders{num}.pkl'
    print(filename)
    tables.append(pd.read_pickle(filename))

orders_df = pd.concat(tables)

/content/drive/MyDrive/MADE/project/orders/orders1.pkl
/content/drive/MyDrive/MADE/project/orders/orders2.pkl

In [87]:
orders_df.head(1)

,index,order_id,city_id,customer_id,order_date,status_id,vendor_id,chain_id,expected_delivery_min,products_count,latitude,longitude,category_id,delivery_type,total_value,discount_value,delivery_fee,service_fee,initial_product_sum,rider_id,backend_expected_delivery_time,delivery_time,delivery_distance,star_rating
0,0,210802978,5,69429957,2021-08-01 00:07:07,11,20936,14011,39.0,1,56.8514,60.6263,1,Vendor_Delivery,544,0,0,14,530,NaN,NaN,NaN,NaN,5.0

In [88]:
orders_group_df = orders_df\
.groupby('chain_id')\
.agg(
    {'discount_value': [min, max, np.mean, np.median],
     'total_value': [min, max, np.mean, np.median],
     'initial_product_sum': [min, max, np.mean, np.median],
    }
)

In [89]:
orders_group_df

         discount_value                          total_value         \
                    min   max        mean median         min    max
chain_id
9                     0   318   18.358209    0.0         505   3359
13                    0  2496  338.945798  339.0         469  11091
27                    0   653   33.522222    0.0         136  13450
37                    0   500   61.281633    0.0         364   5174
41                    0   835   34.611111    0.0         714   6989
...                 ...   ...         ...    ...         ...    ...
72136                 0    32   16.000000   16.0         396   1043
72141                 0     0    0.000000    0.0         343    343
72158                 0     0    0.000000    0.0        1754   1754
72180                 0    66   16.500000    0.0         540   1434
72193                 0     0    0.000000    0.0         754    754

                              initial_product_sum
                 mean  median                 min    max         mean  median
chain_id
9         1530.597015  1394.0                 720   3350  1543.940299  1410.0
13        1701.503767  1511.0                 903  11077  2027.830349  1756.0
27        1702.333333  1307.5                 135  13450  1724.472222  1365.0
37        1481.893878  1472.0                 476   5160  1531.220408  1518.0
41        1690.120690  1349.0                 810   7750  1713.783525  1360.0
...               ...     ...                 ...    ...          ...     ...
72136      719.500000   719.5                 315    940   627.500000   627.5
72141      343.000000   343.0                 190    190   190.000000   190.0
72158     1754.000000  1754.0                1740   1740  1740.000000  1740.0
72180      961.500000   936.0                 540   1420   967.500000   955.0
72193      754.000000   754.0                 740    740   740.000000   740.0

[23164 rows x 12 columns]

# Raitings

In [142]:
rating_df = pd.read_pickle('/content/drive/MyDrive/MADE/project/rest_ratings.pkl')

In [143]:
rating_df.set_index('chain_id',inplace=True)
rating_df.drop(['info','created_at'], axis=1, inplace=True)

# Chain

In [122]:
chains_df = pd.read_pickle(PATH_TO_CHAIN)

In [123]:
chains_df.drop(
    chains_df[chains_df.chain_id.isna()].index,
    axis=0,
    inplace=True,
)

In [124]:
chains_df.drop(
    chains_df[chains_df.is_test_chain == 1].index,
    axis=0,
    inplace=True,
)

In [125]:
chains_df.drop(
    chains_df[chains_df.chain_deleted == 1].index,
    axis=0,
    inplace=True,
)

In [126]:
def count_val(col: pd.Series):
    return pd.Series([i for lst in col for i in lst])
top_product_dict = Counter(count_val(chains_df.product_group_ids.dropna()).value_counts().to_dict(dict))
top_cousine_dict = Counter(count_val(chains_df.product_group_ids.dropna()).value_counts().to_dict(dict))

Мысли по поводу флагов активности  
chain_active - существует ли сеть еще  
chain_deleted - наличие сети в сервисе delivery club  
Для обучения наверно можно испольовать, в тесте наверно нужно будет удалить сети с флагом chain_deleted

BURGER&LIMONAD - сайт мертв    
Мосгурман - не гуглится  
Wheelie PUB - сайт мертв  
Foodsun - не гуглица  
Кондитерская Pinocchio - гуглица и работает, Busted

---Что делать с обьектами у которых chain_id None, может к vendor id добавить соль и использовать получившееся значение как chain при обучении---

Топ product_group_id

In [127]:
chains_df.product_group_ids = chains_df.product_group_ids.apply(lambda d: d if isinstance(d, list) else [])

In [128]:
chains_df.loc[:,'top3_products'] = chains_df.product_group_ids.map(lambda x: any([True for i in x if i in [i[0] for i in top_product_dict.most_common(3)]]))
chains_df.loc[:,'top1_products'] = chains_df.product_group_ids.map(lambda x: any([True for i in x if i in [i[0] for i in top_product_dict.most_common(1)]]))
chains_df.loc[:,'top10_products'] = chains_df.product_group_ids.map(lambda x: any([True for i in x if i in [i[0] for i in top_product_dict.most_common(10)]]))
chains_df.loc[:,'defaults_in_top3'] = chains_df.default_product_group_id.map(lambda x: True if x in [i[0] for i in top_product_dict.most_common(3)] else False)

In [129]:
chains_df.loc[:,'vendors_in_chain'] = chains_df.groupby('chain_id')['defaults_in_top3'].transform(len)

In [130]:
chains_df.drop([
 'vendor_id', 'chain_name', 'chain_name_en',
       'chain_created_at', 'vendor_created_at',
       'category_id', 'default_product_group_id', 'product_group_ids',
       'cuisine_ids', 'food_for_points_marker', 'takeaway_support',
       'is_test_chain', 'citymobil_support',
       'deliveryprovider_id'
       ],axis=1, inplace=True)

In [156]:
chains_df.head(1)

,chain_id,chain_active,chain_deleted,vendor_deleted,city_id,lat,lon,min_delivery_time,min_delivery_value,delivery_cost,is_qsr,top3_products,top1_products,top10_products,defaults_in_top3,vendors_in_chain
0,49867.0,1.0,0.0,1,24.0,43.594672,39.734416,50.0,750.0,0.0,0.0,True,True,True,True,2

In [162]:
chains__group_df = chains_df.groupby('chain_id')['delivery_cost', 'min_delivery_value', 'min_delivery_time','is_qsr', 'top3_products', 'top1_products', 'top10_products', 'defaults_in_top3','vendors_in_chain'].agg(np.mean)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [164]:
df = chains__group_df.join(orders_group_df, how='inner').join(rating_df)

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

In [165]:
df

,delivery_cost,min_delivery_value,min_delivery_time,is_qsr,top3_products,top1_products,top10_products,defaults_in_top3,vendors_in_chain,"(discount_value, min)","(discount_value, max)","(discount_value, mean)","(discount_value, median)","(total_value, min)","(total_value, max)","(total_value, mean)","(total_value, median)","(initial_product_sum, min)","(initial_product_sum, max)","(initial_product_sum, mean)","(initial_product_sum, median)",new_rating
chain_id,,,,,,,,,,,,,,,,,,,,,,
9,0.0,940.000000,60.0,0.0,True,True,True,False,5,0,318,18.358209,0.0,505,3359,1530.597015,1394.0,720,3350,1543.940299,1410.0,4.0
13,0.0,1308.510638,45.0,0.0,True,True,True,False,47,0,2496,338.945798,339.0,469,11091,1701.503767,1511.0,903,11077,2027.830349,1756.0,4.4
27,0.0,1000.000000,90.0,0.0,False,False,True,False,7,0,653,33.522222,0.0,136,13450,1702.333333,1307.5,135,13450,1724.472222,1365.0,4.4
37,0.0,1314.285714,70.0,0.0,True,True,True,False,7,0,500,61.281633,0.0,364,5174,1481.893878,1472.0,476,5160,1531.220408,1518.0,4.6
41,0.0,800.000000,60.0,0.0,False,False,True,False,2,0,835,34.611111,0.0,714,6989,1690.120690,1349.0,810,7750,1713.783525,1360.0,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72136,99.0,1.000000,45.0,0.0,False,False,True,False,1,0,32,16.000000,16.0,396,1043,719.500000,719.5,315,940,627.500000,627.5,4.3
72141,49.0,1.000000,45.0,0.0,False,False,True,False,1,0,0,0.000000,0.0,343,343,343.000000,343.0,190,190,190.000000,190.0,0.0
72158,49.0,1.000000,45.0,0.0,False,False,True,False,2,0,0,0.000000,0.0,1754,1754,1754.000000,1754.0,1740,1740,1740.000000,1740.0,4.5
72180,0.0,500.000000,60.0,0.0,True,False,True,True,1,0,66,16.500000,0.0,540,1434,961.500000,936.0,540,1420,967.500000,955.0,3.9
72193,0.0,1000.000000,70.0,0.0,True,True,True,True,1,0,0,0.000000,0.0,754,754,754.000000,754.0,740,740,740.000000,740.0,4.6

In [134]:
rest_ratings_df = pd.read_pickle('data/rest_ratings.pkl')
rest_ratings_df.set_index('chain_id',inplace=True)

FileNotFoundError: ignored

In [ ]:
chains_df[chains_df.chain_deleted == 0].chain_id.nunique()

37022

In [ ]:
orders_group_df = orders_group_df.join(rest_ratings_df,how='left')

/Users/a19279653/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:9131: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left,1 on the right)
  return merge(

In [ ]:
orders_group_df.raiting.fillna(np.median,inplace = True)

In [ ]:
menu_df = pd.read_pickle('data/menu.pkl')

In [ ]:
chain_price = menu_df.groupby('chain_id').agg({'product_price': [min,max,np.mean,np.median]})

In [ ]:
orders_group_df = orders_group_df.join(chain_price,how='inner')

/Users/a19279653/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:9131: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  return merge(

In [ ]:
test_valid_df = pd.read_pickle('data/test_VALID.pkl')

In [ ]:
test_valid_df.head()

  customer_id  chain_id  city_id  latitude  longitude               h3
0      386249     29454        1   55.7397    37.6055  8911aa7aa1bffff
1    45090350     48274        1   55.7953    37.6017  8911aa71a57ffff
2    59217420     45822        1   55.6109    37.5451  8911aa4c867ffff
3    37528887     41891       22   51.7128    39.1986  89119ec140fffff
4    28001897     42181       20   52.2698   104.3030  8925716ed0bffff

In [ ]:
pip install h3

Looking in indexes: http://token:****@sberosc.sigma.sbrf.ru/repo/pypi/simple
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPConnection object at 0x7fbac83eaeb0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/h3/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPConnection object at 0x7fbac840a190>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/h3/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPConnection object at 0x7fbac83ea340>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/h3/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPConnection object at 0x7fbac83ea430>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/h3/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPConnection object at 0x7fbac840a460>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/h3/
ERROR: Could not find a version that satisfies the requirement h3 (from versions: none)
ERROR: No matching distribution found for h3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from collections import OrderedDict, Counter

In [ ]:
d = OrderedDict

In [ ]:
OrderedDict.fromkeys('aabcd')
for i in 'aabcd':
    d[i] = d.get(i, 0) + 1
    print(d)

TypeError: descriptor 'get' for 'dict' objects doesn't apply to a 'str' object

In [ ]:
for i in

OrderedDict([('a', None), ('b', None), ('c', None), ('d', None)])